li {
  margin: 5px 10px;
}
h3 {
  text-align: center;
}
li:hover {
  text-decoration: underline;
  color: blue;
}
.footer-container {
  display: flex;
  justify-content: center;
  background-color: rgb(15, 10, 2);
  padding: 2px 10px;
  /* text-align: center */
}
.footer-item {
  border: 1px solid rgb(28, 23, 23);
  width: 24%;
  height: 30vh;
  margin: 2px 10px;
  color: white;
  padding: 10px 40px;
  /* position: fixed; */
  bottom: 0;
}
